.n-wrapper{
    height: 10vh;
    display:flex;
    justify-content: space-between;
    border-bottom: whitesmoke;
    position:fixed;
    z-index:2;
    background-color: blanchedalmond;;
    top:0;
    width:100%;
    left:0;
    padding-left: 20px;
    border-bottom: 2px solid whitesmoke;


}
.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap:2rem;

}
.n-name{
  font-size: 1.3rem;
  font-weight:bold;
}
.n-right{
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
    font-weight: 400;

}
.n-list{
      flex: 10;

}
.n-list>ul{
    display:flex;
    gap:2rem;
    margin-right:4rem;
}
.n-list>ul>li:hover{
    cursor:pointer;
    color:var(--yellow)
}
.n-button{
    flex:2;

}
@media screen and (max-width: 650px){
    .n-list{
        display: none;

    }
    .n-button{
        display: none;
    }
    .n-left>span{
        display:none;
    }
    .n-left>.n-name{
        color:rgb(22, 34, 30);
    }
   
}
@media screen and (max-width:1600px){
    .n-list{
        display:none;
    }

}